<a href="https://colab.research.google.com/github/at9725/random-code/blob/main/random_prac_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
googol = 10 ** 100
googol

googol.bit_length()

333

In [ ]:
import decimal
from decimal  import Decimal

decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [ ]:
d = Decimal(1) / Decimal(11)
d

Decimal('0.09090909090909090909090909091')

In [ ]:
decimal.getcontext().prec = 4
e = Decimal(1) / Decimal(11)
e

Decimal('0.09091')

In [ ]:
decimal.getcontext().prec = 50
f= Decimal(1)/Decimal(11)
f

Decimal('0.090909090909090909090909090909090909090909090909091')

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
(4>3) and (2!=3)

True

In [ ]:
i = 0
while i < 4:
  print("condition true, ",i)
  i += 1

condition true,  0
condition true,  1
condition true,  2
condition true,  3

In [ ]:
t = "this a string b"
t.split()

t.find("a")
t.replace(" ","_")

'this_a_string_b'

In [ ]:
i = 0
while i< 4:
  print("the number is %d" %i)
  i += 1
print("_________")


i = 0
while i < 4:
  print("the number is {:d}".format(i))
  i += 1

the number is 0
the number is 1
the number is 2
the number is 3
_________
the number is 0
the number is 1
the number is 2
the number is 3

In [ ]:
import re

series = """
 '01/18/2014 13:00:00', 100, '1st';
 '01/18/2014 13:30:00', 110, '2nd';
 '01/18/2014 14:00:00', 120, '3rd'
 """

dt = re.compile("'[0-9/:\s]+'")
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [ ]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'",""),"%m/%d/%Y %H:%M:%S")
pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [ ]:
print(type(pydt))

<class 'datetime.datetime'>